/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

h1{
  width: 100vw;
  color: white;
  font-size:3.5rem;
  line-height: 100vh;
  height: 100vh;
  text-align: center;
  background-image: url('../images/apple-pie.jpg');
  background-size: cover;
}

section{
  margin: 8vh 8vw;
}

section p{
  text-align: justify;
}

section div{
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
}

section div img{
  /* object-fit: contain; */
  height: 5rem;
}

section ul, section ol{
  padding: 1.5rem 1rem 0 1rem;

}
section ol{
  margin-top: 1.5rem;
  /* margin-left: 1rem; */
  counter-reset: 0;
}

section ul, section ol{
  list-style-type: none;
}

/* ! change list marker */
section ul li::before{
  content:'-';
  margin-right: 1rem;
}

section ol li{
  counter-increment: num;
}

section ol li::before{
  content : counter(num)')' ;
  margin-right: 1rem;
}

.line{
  margin: 0;
  border:1px black solid ; 
}